.footer {
  background: rgba(46, 43, 68, 1);
}


.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
}


.footer__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 186px;
  margin-top: 28px;
}


.footer__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
}


.footer__icon:hover,
.footer__icon:active {
  opacity: .5;
}


.footer__icon:active {
  opacity: 1;
}


.footer__icon__facebook {
  background-image: url('../img/facebook.svg');
}


.footer__icon__twitter {
  background-image: url('../img/twitter.svg');
}


.footer__icon__insta {
  background-image: url('../img/insta.svg');
}


.footer__icon__youtube {
  background-image: url('../img/youtube.svg');
}


.footer__copy {
  text-align: center;
  background: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
